.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .actions-container {
    display: flex;
    width: 140px;
    justify-content: space-between;

    &--list {
      width: 195px;
    }
  }
}

.button {
  all: unset;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
  color: white;
  cursor: pointer;

  &--success {
    background-color: #00d900;
  }

  &--danger {
    background-color: #ff4848;
  }

  &:hover {
    filter: brightness(95%);
  }
}